<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Windows.Forms.ColorPicker" version="1.7.2" targetFramework="net461" />
  <package id="ScottPlot" version="4.0.45" targetFramework="net461" />
  <package id="ScottPlot.WinForms" version="4.0.45" targetFramework="net461" />
  <package id="SharpLibFritzBox" version="1.1.2" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
</packages>